<md-content layout-padding>
    <h2 flex>Observer Pattern</h2>

    <md-content flex>
        <h3>Subject checkbox</h3>
        <md-checkbox ng-model="ctrl.subjectCheckbox.isChecked" ng-change="ctrl.notifyObservers()" aria-label="Subject Checkbox">
            Check this box to notify observers
        </md-checkbox>
    </md-content>

    <md-content flex>
        <h3>Add observers</h3>
        <md-radio-group ng-model="ctrl.observerChoice" layout="row" layout-sm="column">
            <md-radio-button value="normal">Normal observer</md-radio-button>
            <md-radio-button value="inverted">Inverted observer</md-radio-button>
            <md-radio-button value="toast" ng-disabled="ctrl.toastObserverCount > 0">Toast observer</md-radio-button>
        </md-radio-group>
        <p>
            <md-button class="md-raised md-accent" ng-click="ctrl.addObserver(ctrl.observerChoice)" type="button">Add</md-button>
        </p>
    </md-content>

    <md-content flex>
        <h3>List of observers</h3>
        <md-list>
            <md-list-item ng-repeat="o in ctrl.subjectCheckbox.observers.observerList">
                <div layout="row">
                    <md-button class="md-icon-button md-accent" aria-label="Remove observer" ng-click="ctrl.removeObserver(o)">
                        <i class="material-icons icon-button-adjust">clear</i>
                    </md-button>
                    <div class="spacer-md"></div>
                    <md-checkbox class="label-fix" ng-model="o.isChecked" aria-label="Observer" ng-disabled="true">
                        {{o.type}}
                    </md-checkbox>
                </div>
            </md-list-item>
        </md-list>
    </md-content>

</md-content>