<md-content layout-padding>
    <h2 flex>Constructor Pattern</h2>
    <md-content flex ng-if="!ctrl.ibs.isInfoVisible()">
        <md-content layout-padding layout="row" layout-sm="column" flex>
            <md-input-container id="year-input-container">
                <label>Year</label>
                <input ng-model="ctrl.year" type="number" id="year-input">
            </md-input-container>
            <md-input-container id="model-input-container">
                <label>Model</label>
                <input ng-model="ctrl.model" id="model-input">
            </md-input-container>
            <md-input-container id="mileage-input-container">
                <label>Mileage</label>
                <input ng-model="ctrl.mileage" type="number" id="mileage-input">
            </md-input-container>
            <md-button class="md-fab md-accent" aria-label="Add new car" ng-click="ctrl.createNew(ctrl.model, ctrl.year, ctrl.mileage)">
                <i class="material-icons icon-button-adjust">add</i>
            </md-button>
        </md-content>

        <h3>List of added Cars</h3> 
        <div class="spacer"></div>
        <md-list>
            <md-list-item ng-repeat="c in ctrl.cars">
                <p> - {{c.toString()}}</p>
            </md-list-item>
        </md-list>
    </md-content>

    <md-content flex ng-if="ctrl.ibs.isInfoVisible()">
        <p>The constructor pattern is fairly simple and is designed to work just like a constructor in other OO languages.</p>
        <p>In this example, there is a <code>Car</code> constructor function which is used to add new <code>Car</code> objects to the list at the bottom of the demo.</p>
        <p>Constructor functions in Javascript can also be used to specify common methods for all instances to use. This can be accomplished by adding member functions to the <code>prototype</code>. In this example, there is a <code>toString()</code> defined in <code>Car.prototype</code> which all instances of <code>Car</code> can use to display their values.
        <p>The list at the end of the demo uses <code>Car.prototype.toString()</code> method to display values.</p>
    </md-content>
</md-content>