<md-content layout-padding>
    <h2 flex>Constructor Pattern</h2>
    <md-content flex>
        <md-content layout-padding layout="row" layout-sm="column" flex>
            <md-input-container id="year-input-container">
                <label>Year</label>
                <input ng-model="ctrl.year" type="number" id="year-input">
            </md-input-container>
            <md-input-container id="model-input-container">
                <label>Model</label>
                <input ng-model="ctrl.model" id="model-input">
            </md-input-container>
            <md-input-container id="mileage-input-container">
                <label>Mileage</label>
                <input ng-model="ctrl.mileage" type="number" id="mileage-input">
            </md-input-container>
            <md-button class="md-fab md-accent" aria-label="Add new car" ng-click="ctrl.createNew(ctrl.model, ctrl.year, ctrl.mileage)">
                <i class="material-icons icon-button-adjust">add</i>
            </md-button>
        </md-content>

        <h3>List of added Cars</h3> 
        <p>This uses <code>prototype.toString()</code> method to display values.</p>
        <div class="spacer"></div>
        <md-list>
            <md-list-item ng-repeat="c in ctrl.cars">
                <p> - {{c.toString()}}</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-content>