<md-content layout-padding>
    <h2 flex>Module Pattern</h2>

    <div layout="column" flex>
        <div layout="row">
            <md-content layout-padding layout="row" layout-sm="column" flex>
                <md-input-container flex>
                    <label>Add an item</label>
                    <input ng-model="ctrl.title">
                </md-input-container>
                <md-button class="md-fab md-accent" aria-label="Add new car" ng-click="ctrl.addItem(ctrl.title)">
                    <i class="material-icons icon-button-adjust">add</i>
                </md-button>
            </md-content>
        </div>

        <h3>{{ctrl.todoModule.moduleName}} {{ctrl.todoModule.moduleVersion}}</h3>

        <div layout="column">
            <md-list>
                <md-list-item ng-repeat="t in ctrl.todoList">
                    <md-checkbox ng-model="done" ng-click="ctrl.removeItem(t)" aria-label="Mark done">
                    </md-checkbox>
                    {{t}}
                </md-list-item>
            </md-list>
        </div>
        
        <div class="spacer-lg"></div>

        <div layout="column">
            <pre>
                <h4 class="wrap-break-word">These calls try and access private members and thus fail.</h4>
                <div>ctrl.todoModule.list = {{ctrl.todoModule.list || 'undefined'}}</div>
                <div>ctrl.todoModule.getId() = {{ctrl.todoModule.getId() || 'undefined'}}</div>
            </pre>
        </div>
    </div>
</md-content>