<md-content layout-padding layout="column">
    <h2 flex>Module Pattern</h2>

    <div layout="row">
        <md-content layout="row" layout-sm="column" flex>
            <md-input-container flex id="title-input-container">
                <label>Add an item</label>
                <input ng-model="ctrl.title" id="title-input">
            </md-input-container>
            <div class="spacer-lg" show-sm hide-gt-sm></div>
            <md-button class="md-fab md-accent" aria-label="Add an item" ng-click="ctrl.addItem(ctrl.title)">
                <i class="material-icons icon-button-adjust">add</i>
            </md-button>
        </md-content>
    </div>

    <h3 flex>{{ctrl.todoModule.moduleName}} {{ctrl.todoModule.moduleVersion}}</h3>

    <div layout="column" flex>
        <md-list>
            <md-list-item ng-repeat="t in ctrl.todoList">
                <md-checkbox ng-model="done" ng-click="ctrl.removeItem(t)" aria-label="Mark done">
                </md-checkbox>
                {{t}}
            </md-list-item>
        </md-list>
    </div>
    
    <div class="spacer-lg"></div>

    <div layout="column" flex>
        <pre>
            <h4 class="wrap-break-word">These calls access private members and fail.</h4>
            <div>ctrl.todoModule.pList = {{ctrl.todoModule.pList || 'undefined'}}</div>
            <div>ctrl.todoModule.getId() = {{ctrl.todoModule.getId() || 'undefined'}}</div>
        </pre>
    </div>

</md-content>