.icon-button-adjust {
    vertical-align: middle;
}

.patterns-list-item {
    margin: 20px;
}

.patterns-list-item > span {
    cursor: pointer;
    cursor: hand;
}

.spacer-sm {
    margin: 5px;
}

.spacer-md {
    margin: 10px;
}

.spacer-lg {
    margin: 20px;
}

.spacer-hg {
    margin: 50px;
}

.wrap-break-word {
    word-wrap: break-word;
}

.label-fix > div.md-label {
    padding-top: 4px;
}

.scroll-container {
    overflow: scroll;
}