<md-content layout-padding>
    <h2 flex>Prototype Pattern</h2>

    <md-content flex ng-hide="ctrl.ibs.isInfoVisible()">
        <h3>Add a new car</h3>
        <md-content layout-padding layout="row" layout-sm="column">
            <md-input-container id="year-input-container">
                <label>Year</label>
                <input ng-model="ctrl.year" type="number" id="year-input">
            </md-input-container>
            <md-input-container id="make-input-container">
                <label>Make</label>
                <input ng-model="ctrl.make" id="make-input">
            </md-input-container>
            <md-input-container id="model-input-container">
                <label>Model</label>
                <input ng-model="ctrl.model"id="model-input">
            </md-input-container>
            <md-button class="md-fab md-accent" aria-label="Add new car" ng-click="ctrl.addCar(ctrl.year, ctrl.make, ctrl.model)">
                <i class="material-icons">add</i>
            </md-button>
        </md-content>

        <div class="spacer-lg"></div>

    
        <h3>List of cars added</h3>
        <p>The generic car model has already been added to the list and is also used as the prototype for all the new cars created above.</p>
        <div class="spacer-sm"></div>
        <md-list>
            <md-list-item ng-repeat="c in ctrl.cars track by $index">
                {{$index + 1}}) {{c.details()}}
            </md-list-item>
        </md-list>
    </md-content>

    <md-content class="markdown-body" flex ng-show="ctrl.ibs.isInfoVisible()">
<p>The prototype pattern leverages JavaScript's prototypal inheritance to provide a blueprint which is used to create objects. A prototype object is created that contains all the common functionality. Afterwards, <code>Object.create()</code> is used to create new objects based off the prototype object.</p>

<div class="highlight highlight-source-js"><pre>carPrototype <span class="pl-k">=</span> {
    <span class="pl-en">details</span><span class="pl-k">:</span> <span class="pl-k">function</span>() { }
};</pre></div>

<p>The <code>details()</code> method will be available to all objects created using the <code>carPrototype</code> object above. To create a new object based on a prototype,</p>

<div class="highlight highlight-source-js"><pre><span class="pl-k">var</span> newCar <span class="pl-k">=</span> <span class="pl-c1">Object</span>.create(carPrototype, customizations);</pre></div>

<p>The <code>customizations</code> object contains any members special to the <code>newCar</code> object like model, make or year.</p>

<p>In JavaScript, the protoype pattern is particularly easy to implement since it leverages the prototypal strengths of the language rather than trying to emulate features of other languages. There are also performance considerations with the prototype pattern since the prototype is a reference, each new object does not create another copy of the prototype object. </p>

    </md-content>

</md-content>